@charset "utf-8";

/*início da página inicial do site*/
@media screen and (max-width: 768px){
    .container__geral{
        display: block;
    }
    .cabecalho{
        display: flex;
        
    }
    .cabecalho__logo {
       position: absolute;
       margin-left: 270px;
       margin-top: 20px;
       width: 30%;
       
    
    }
    .cabecalho__logo a{
        display: none;
       
    }
    .cabecalho__logo img{
        display: none;
           
       
    }
    .cabecalho__menunavegacao{
      display: none;
    }
    .cabecalho__menuitem:hover{
      transform: none;
      
  }
    .cabecalho__menuitem a{
        font-size: 19px;
        padding: 10px;
    }
    
    .feed__conteudo h2{
        font-size: 17px;
    }

    .inp__pesquisar input {
       display: none;
       
    }
    .inp__enviar input{
       display: none;
    }
    .conatiner__downloads h2{
       margin-left: 175px;
    }


}

/*fim página inicial*/

/*inicio da página de idéias*/
@media screen and (max-width: 768px) {
    .header{
        width: 100%;
        
    }
    .menu__navegacao{
      
    }
    .menu__navegacao img{
        display: none;
    }
    .lista__menunavegacao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lista__menunavegacao li{
        padding: 8px;
    }
    .lista__menunavegacao li a{
           font-size: 20px;
     }
     .mural__ideias{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     .mural__ideias img{
        width: 100%;
        height: 300px;
     }
     .mural__ideias p{
        margin: 0 15px 0 15px;
        font-size: 19px;
     }
     .cards{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: -50px;  
     }
     .conteudo__cards{
      width: 270px;
      height: 160px;
      margin-bottom: 20px;
      
      
     }
     .conteudo__cards h2{
      font-size: 20px;
     }
     .conteudo__cards li {
       font-size: 15px ;
       margin-top: 10px;
     }
     .conteudos__2{
        width: 95%;
     }
     .conteudos__2 h2{
        font-size: 20px;
        font-size: 900;
     }
     .conteudo2 li{
        font-size: 20px;
     }
     .conteudos__2 p{
        font-size: 19px;
     }
     #ideias__controle__validade{
        font-size: 20px;
        text-align: center;
     }
     .container__form form{
        display: none;
     }
     .conteudos__article2{
        width: 95%;
        margin-top: -40px;
     }
     .conteudos__article2 p{
        font-size: 19px;
        margin: 0 ;
     }
     
}
/*fim da página de ideias*/